@charset "utf-8";
.profile-title{
  font-family: 'Josefin Slab', serif;
  color:#bf1616;
  font-weight: 700;
}
.input-username[type=text]
{
  font-size: 15px;
  text-align:right;
  color:  #ff9292 ;
  font-weight: 700;
}
.input-username[type=text]::-webkit-input-placeholder
{
  color:#ff9292 ;
}
.input-username[type=text]::-moz-placeholder
{
  color:#ff9292 ;
}

.input-password[type=password]
{
  font-size: 15px;
  text-align:right;
  color:  #ff9292 ;
}
.input-password[type=password]::-webkit-input-placeholder {
  color:  #ff9292 ;
}
.input-password[type=password]::-moz-placeholder{
  color:  #ff9292 ;
}

.profile-detail{
  color:#ff9292;
  text-align:right;
  font-size:20px;
  font-weight: 800;
}

.mobile{
  margin-bottom: 10%;
}
.wrapper{
	height:auto;
	margin:0 auto;
  overflow: hidden;
}
.image-margin{
  margin-bottom: 0;
}
.detail{
  color:#808080;
  font-size: 18px;
  font-weight: 800;
}
.url{
  color: #ff3333;
}
.change-picture{
  margin-bottom:20px;
  color: #0071bc!important;
  font-size: 18px;
  font-weight: 700;
}
.uploaders{
  margin-bottom:20px;
  color: #0071bc!important;
  font-size: 18px;
  font-weight: 700;
}
.input-margin{
  margin-top:20px;
}
.upload-margin{
  margin-top:10px;
}
/*profile page */
.profile{
  width:150px;
  height:auto;
}

/*uploading image and profile*/
#upload{
    display:none
}
#upload_link{
    text-decoration:none;
}
#upload_link2{
    text-decoration:none;
}
  /*post article*/
  .title-color{
    color:orange;
  }
  .form-control-border{
    border: 1px solid #dfdfdf;
    border-radius: 0;
  }

/*customize background*/
.customize {
    float: left;
    margin: 1%;
    border: 1px solid #a5a5a5;
    background-color: white;
}
.customize :active{
  border: 1px solid red !important;
}
.customize:hover{
  border:1px solid red !important;
}
.form-spacing{
  border-radius: 0;
  border:0;
  padding:0 auto 20px 0;
  box-shadow: none;
}
.input-group-spacing{
  border:0;
  border-radius:0;
  margin:0;
  background-color: #ffffff;
}
.form-control{
  border: 0;
}
.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}
.image-custom {
    margin: 3px;
    padding: 0;
}
.white{
  background: #ffffff;
}
.white:hover{
  background: #ffffff;
}
.white:active{
  background: #ffffff;
}
.white:visited{
  background: #ffffff;
}
.black{
  background: black;
}
.black:hover{
  background: black;
}
.black:active{
  background: black;
}
.black:visited{
  background: black;
}
.purple{
  background:#cd92d7;
}
.purple:active{
  background:#cd92d7;
}
.purple:hover{
  background:#cd92d7;
}
.purple:visited{
  background:#cd92d7;
}
.yellow{
  background:#fff075;
}
.yellow:active{
  background:#fff075;
}
.yellow:hover{
  background:#fff075;
}
.yellow:visited{
  background:#fff075;
}
.lightblue{
  background:#7fdde9;
}
.lightblue:active{
  background:#7fdde9;
}
.lightblue:hover{
  background:#7fdde9;
}
.lightblue:visited{
  background:#7fdde9;
}
.default-image{
  background-image:url("./images/chili-select.jpg");
}
.chili-custom{
  width:100%;
}
/*save profile button*/
.save{
    background:#bf1616;
    width: 100px;
    border-radius: 10px;
    color: #ffffff;
}
.save:hover {
  background:#bf1616;
}
.save:active{
  background:#bf1616;
}
.draft:hover{
  background: #ffffff!important;
  width: auto;
  border-radius: 10px;
  color: #bf1616!important;
  border: 1px solid  #bf1616;
}
/**end draft**/
.upload-article-image{
  border-radius:20px;
  color:#000;
  height:40px;
  border:0;
}
/**Disccusion**/
.profile-object{
  width:auto;
  height:50px;
}
.thumb{
  margin-left: 10px;
}
.other-user-spacing{
  padding-top: 20px;
}
.custom-red-icon{
  color: #bf1616;
}
.border-textbox{
  border: 1px solid #bf1616;
  border-radius: 20px;
  padding:20px;
}
.reply-text:active{
  color: #bf1616;
  text-decoration: none !important;
}
.reply-text:visited{
  color: #bf1616;
  text-decoration: none !important;
}
.reply-text:hover{
  color: #bf1616;
  text-decoration: none !important;
}
.reply-text{
  color: #bf1616;
  font-size:14px;
}
.comments{
  color: #bf1616;
  font-size: 15 px;
  font-weight: 500;
}
.user-comment{
  font-weight: 700;
  color: #717171;
  font-size: 15px;
}
.save:visited{
  background:#bf1616;
}
.glyphicon-thumbs-up::before{
  top:1px;
  font-size: 18px;
}
 /**blogger profile*/
 .img-profile{
    height:120px;
    width:120px;
    border:0;
    border-radius: 0;
}

.img-cover{
    width:100%;
    height:400px;
}
/**Profile-layout*/
.bg-picture,.output {
  position: relative;
  min-height: 400px;
  margin: -20px -25px 0px -25px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.write{
    border-radius: 25px;
    width:180px;
    margin-right: 35px;
    margin-bottom:10px;
    font-size: 20px;
    padding-top:3px;
    padding-bottom:3px;
    background-color:#4dba52;
    color: #fff!important;
}
.write:hover,.write:active{
    background:#4dba52;
    color: #fff!important;
}

.write-m{
  position: absolute;
  right:    0;
  bottom:   0;
}
.bg-picture>.bg-picture-overlay {
  margin-top: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.bg-picture>.meta.bottom {
  bottom: 10px;
}
.bg-picture>.meta {
  position: absolute;
  left: 0;
  right: 0;
}
.box-layout {
  display: table!important;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
.media-body-profile{
    padding-top:80px;
    padding-left:20px;
    display: table-cell;
}
.text-white {
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Josefin Slab', serif;
}
.h5 {
    font-family: 'Josefin Slab', serif;
    color:#fff7c0;
    font-size: 18px;
    font-weight: 600;
}

.br-radius{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 30px;
    max-width: 100%;
    margin-top: 7px;
    height:150px;
}
 /*this the tabbing button layout*/
.btn-toggle-article {
    color: #fff !important;
    background:#bf1616 !important;
    border:0 solid #380846;
    font-size: 20px;
    box-shadow:none;
    font-weight: 700;
    font-family: 'Josefin Slab', serif;
    border-radius: 0;
    -webkit-border-radius: 0 !important;
}
.btn-toggle-article :active,.btn-toggle-article :hover,.btn-toggle-article :visited{
  color: #fff!important;
  background:#bf1616;
}

.btn-passive-article {
    color: #4dba52 !important;
    background:#fff  !important;
    border:0 solid #380846;
    font-size: 20px;
    box-shadow:none;
    font-weight: 700;
     font-family: 'Josefin Slab', serif;
     border-radius: 0;
     -webkit-border-radius: 0 !important;
}
.btn-passive-article:visited,.btn-passive-article:hover,.btn-passive-article:active{
    color: #4dba52;
    background:#fff;
}
.chill-outline,.btn:focus{outline:none!important;}
/**end*/

/*this is for the small image based article*/
    .article-card{
      width: 47%;
       margin-left: 1.5%;
       margin-right: 1.5%;
       float: left;
       margin-top: 2%;
       border: 1px solid #999999;
	   min-height: 250px;
     }
     .box-art{
      width:100%;
      height:300px;
    }
    .article-category{
      color: #4dba52;
      font-size: 16px;
      text-decoration: none;
    }
    .article-category:focus,.article-category:visited,.article-category:hover,.article-category:active{
      color: #4dba52;
      text-decoration: none;
    }
    .article-title{
      color: #ff3333;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
    }
    .article-title:focus,.article-title:visited,.article-title:active,.article-title:hover{
      color: #ff3333;
      text-decoration: none;
    }
  /*this for larger image based article*/
    .article-big-card{
       width: 97%;
       margin-left: 1.5%;
       margin-right: 1.5%;
       float: left;
       margin-top: 2%;
       border: 1px solid #999999;
    }
    .box-big-art{
     width:100%;
     height:100%;
    }
    /*advertisement size*/
    .ads{
       width: 97%;
       margin-left: 1.5%;
       margin-right: 1.5%;
       float: left;
       margin-top: 2%;
       border: 1px solid #999999;
    }
/**responsive**/
@media all and (max-width: 780px) {
  .uploaders{
    font-size: 13px;
    font-weight: 700;
  }
  .save{
    width:auto;
  }
  .btn-sq-sm {
    width: 30px !important;
    height: 30px !important;
    font-size: 10px;
  }
  .mobile{
    margin-bottom: 50px;
  }
}
@media all and (max-width: 550px) {
  .uploaders{
    font-size: 13px;
    font-weight: 700;
  }
  .save{
    width:auto;
    font-size: 15px;
  }
  .btn-sq-sm {
    width: 30px !important;
    height: 30px !important;
    font-size: 10px;
  }
  .mobile{
    display:block;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 486px) {
.article-card{
	min-height:200px !important;}
		}
@media all and (max-width: 390px) {
.article-card{
	min-height:150px !important;}
		}
	@media all and (max-width: 400px) {
    .uploaders{
      font-size:12px;
      font-weight: 700;
    }
    .btn-sq-sm {
      width: 20px !important;
      height: 20px !important;
      font-size: 10px;
    }
    .mobile{
      display:block;
      text-align: center;
    }
    .save{
      width:auto;
      font-size: 15px;
    }
}
