	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2017 03:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-copyright-1:before { content: "\f100"; }
.flaticon-copyright:before { content: "\f101"; }
.flaticon-arrow-1:before { content: "\f102"; }
.flaticon-caret-arrow-up:before { content: "\f103"; }
.flaticon-plus-black-symbol:before { content: "\f104"; }
.flaticon-gmail-logo:before { content: "\f105"; }
.flaticon-pinterest:before { content: "\f106"; }
.flaticon-google-plus-1:before { content: "\f107"; }
.flaticon-black:before { content: "\f108"; }
.flaticon-printing-tool:before { content: "\f109"; }
.flaticon-play:before { content: "\f10a"; }
.flaticon-arrow:before { content: "\f10b"; }
.flaticon-media-play-symbol:before { content: "\f10c"; }
.flaticon-facebook:before { content: "\f10d"; }
.flaticon-twitter:before { content: "\f10e"; }
.flaticon-share-1:before { content: "\f10f"; }
.flaticon-share:before { content: "\f110"; }
.flaticon-speech-bubble-outline-of-rectangular-shape:before { content: "\f111"; }
.flaticon-blank-squared-bubble:before { content: "\f112"; }
.flaticon-like:before { content: "\f113"; }
.flaticon-twitter-logo-silhouette:before { content: "\f114"; }
.flaticon-facebook-letter-logo:before { content: "\f115"; }
.flaticon-edit-1:before { content: "\f116"; }
.flaticon-edit:before { content: "\f117"; }
.flaticon-down-arrow:before { content: "\f118"; }
.flaticon-arrow-point-to-down:before { content: "\f119"; }
.flaticon-sort-down:before { content: "\f11a"; }
.flaticon-google-plus:before { content: "\f11b"; }
.flaticon-close:before { content: "\f11c"; }
.flaticon-social-media:before { content: "\f11d"; }
.flaticon-facebook-logo:before { content: "\f11e"; }